In [1]:
import pandas as pd
import random

In [2]:
# Transforma string em inteiro
def nome_para_inteiro(nome):
    nome = nome.upper()  # Converter para maiúsculas para tratar maiúsculas e minúsculas da mesma forma
    valor_inteiro = 0
    
    for letra in nome:
        # Verificar se a letra está no alfabeto (A a Z)
        if 'A' <= letra <= 'Z':
            valor_inteiro += ord(letra) - ord('A') + 1  # Valor de 'A' é 1, 'B' é 2, ..., 'Z' é 26
    
    return valor_inteiro

In [3]:
# Ler o arquivo de dados
dados = pd.read_excel('dados.xlsx')

In [4]:
# Perguntar a quantidade de alunos no grupo (2 ou 3)
while True:
    try:
        quantidade_alunos = int(input("Quantidade de alunos no grupo (2 ou 3): "))
        if quantidade_alunos in [2, 3]:
            break
        else:
            print("Por favor, insira 2 ou 3.")
    except ValueError:
        print("Por favor, insira um número válido.")

Quantidade de alunos no grupo (2 ou 3): 2

In [5]:
nome = input("Digite seu nome: ")
valor_inteiro = nome_para_inteiro(nome)

Digite seu nome: Kelly Vene

In [6]:
# Embaralhar as linhas do conjunto de dados
dados_embaralhados = dados.sample(frac=1, random_state=valor_inteiro)

In [8]:
# Separar os dados de treino e teste com base na quantidade de alunos
if quantidade_alunos == 2:
    dados_treino = dados_embaralhados.head(300)
    dados_teste = dados_embaralhados.tail(200)
else:
    dados_treino = dados_embaralhados.head(500)
    dados_teste = dados_embaralhados.tail(250)
    
dados_treino.columns = ['Mensagem']
dados_teste.columns = ['Mensagem']
dados_treino

                                              Mensagem
190  Esse cara é um completo vaidoso cheio de palav...
104  Este livro foi doado em uma promoção da Amazon...
295  FiZ a compra errada, era pra comprar o livro e...
12   A "obra" é uma fraude completa. O autor é um a...
87   Chegou rápido. Incrivelmente rápido. Na embala...
..                                                 ...
354  Eu só recebi o primeiro volume. Os demais volu...
831  Livro bem ruim, a abordagem do autor até tenta...
638  O conteúdo do livro em si é bom (as técnicas e...
158  Trata de modo superficial o tema da velocidade...
397  Olavo é um fanático religioso que encontrou pú...

[300 rows x 1 columns]

In [9]:
# Salvar os dados de treino e teste em arquivos Excel
dados_treino.to_excel('dados_treino.xlsx', index=False, engine='openpyxl')
dados_teste.to_excel('dados_teste.xlsx', index=False, engine='openpyxl')

print("Dados de treino e teste foram salvos em 'dados_treino.xlsx' e 'dados_teste.xlsx'.")

Dados de treino e teste foram salvos em 'dados_treino.xlsx' e 'dados_teste.xlsx'.